<div class="container user-profile">
  <div class="row">
    <div class="col-3">
			<div class="cardiB">

          <%= image_tag @user.profile_pic_url.to_s.presence || '/profile_avatar.png' , class: "avatar" %>
					<h3><%= @user.first_name  + " " + @user.last_name%></h3>

          <% if signed_in? %>
					  <p class="titleB"><%= @user.description.presence || (link_to "Edit Description",edit_user_path(id: @user.id))  %></p>
          <% else %>
            <p class="titleB"><%= @user.description.presence || "News plus rocks!" %></p>
          <% end %>
					<p>
            <% if signed_in? %>
              <% if current_user.id != @user.id %>
                <%= link_to "Follow", follows_path(follower_id: @user.id, user_id: current_user.id), method: :post , class: "buttonB" %>
              <% else %>
                <%= link_to "Edit profile", edit_user_path(id: @user.id), class: "buttonB" %>
              <% end %>
            <% end %>
          </p>
          <hr>
          <p>
            Followers : <%=  @follower.count %>
          </p>
          <hr>
          <p>
            Following : <%= @following.count %>
          </p><br>
					</div>
    </div>
    <div class="col-6"></div>
    <div class="col-3"></div>
  </div>
  <% @user_comment.each do |x| %>
  <br/><%= x.comment %><br/>
  <% end %>
</div>
