<% if current_user.id != @user.id %>
<%= button_to "follow user", follows_path(follower_id: @user.id, user_id: current_user.id), method: :post %></br>
<% end %>

<div class="container user-profile">
  <%= image_tag @user.profile_pic_url.to_s %>

  <%= link_to "edit", edit_user_path(id: @user.id) %>


  <% if current_user.id != @user.id %>
    <%= button_to "follow user", follows_path(follower_id: @user.id, user_id: current_user.id), method: :post %></br>
  <% end %>

  <%= @user.description %></br>
  Follower <%= @follower.count %><br/>

  Following <%= @following.count %></br>

  <% @user_comment.each do |x| %>
  <br/><%= x.comment %><br/>
  <% end %>

</div>
Buttons for selecting preferred categories
<%= button_to "business", preference_update_path(preference: "business"), method: :patch %>
<%= button_to "general", preference_update_path(preference: "general"), method: :patch %>
<%= button_to "technology", preference_update_path(preference: "technology"), method: :patch %>
<%= button_to "sport", preference_update_path(preference: "sport"), method: :patch %>
<%= button_to "health", preference_update_path(preference: "health"), method: :patch %>
<%= button_to "lifestyle", preference_update_path(preference: "lifestyle"), method: :patch %>

<%= button_to "remove all selected", preference_delete_path, method: :delete %>