
<<<<<<< HEAD
<%= image_tag @user.profile_pic_url.to_s %></br>

<%= link_to "edit", edit_user_path(id: @user.id) %></br>

<%= @user.description %></br>

<% if current_user.id != @user.id %>
<%= button_to "follow user", follows_path(follower_id: @user.id, user_id: current_user.id), method: :post %></br>
<% end %>
=======
<div class="container user-profile">
  <%= image_tag @user.profile_pic_url.to_s %>

  <%= link_to "edit", edit_user_path(id: @user.id) %>

  <%= @user.description %>

  <% if current_user.id != @user.id %>
    <%= button_to "follow user", follows_path(follower_id: @user.id, user_id: current_user.id), method: :post %></br>
  <% end %>

  Follower <%= @follower.count %><br/>
>>>>>>> cdc0fc543e6bf9eac2295292b13262a79629d32f

  Following <%= @following.count %></br>

  <% @user_comment.each do |x| %>
  <br/><%= x.comment %><br/>
  <% end %>

</div>
