<div class="container user-profile">
  <div class="row">
    <div class="col-3">
			<div class="cardiB">

          <%= image_tag @user.profile_pic_url.to_s.presence || '/profile_avatar.png' , class: "avatar" %>
					<h3><%= @user.first_name  + " " + @user.last_name%></h3>

          <% if signed_in? %>
					  <p class="titleB"><%= @user.description.presence || (link_to "Edit Description",edit_user_path(id: @user.id))  %></p>
          <% else %>
            <p class="titleB"><%= @user.description.presence || "News plus rocks!" %></p>
          <% end %>
					<p>
            <% if signed_in? %>
              <% if current_user.id != @user.id %>
                <%= link_to "Follow", follows_path(follower_id: @user.id, user_id: current_user.id), method: :post , class: "buttonB" %>
              <% else %>
                <%= link_to "Edit profile", edit_user_path(id: @user.id), class: "buttonB" %>
              <% end %>
            <% end %>
          </p>
          <hr>
          <p>
            Followers : <%=  @follower.count %>
          </p>
          <hr>
          <p>
            Following : <%= @following.count %>
          </p><br>
					</div>
    </div>
    <div class="col-5">
          <div class="container comment-user">
            <h1>Comments</h1><br>
            <% @user_comment2.in_groups_of(1, false) do |group| %>

            <div class="row mb-2">
              <% group.each do |u| %>
              <%
                  link2 = u.article.image
                  time2 = u.created_at
                  time_formatted2 = time2.strftime("%B") + " " + time2.strftime("%d")
              %>
              <div class="col-12">
                <p><%= u.comment %></p>
              </div>
            <div class="col-md-6">

              <div class="card flex-md-row mb-6 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start third-flex">
                  <strong class="d-inline-block mb-2 text-primary"><%= u.article.category%></strong>
                  <div class="mb-1 text-muted"><%= time_formatted2 %></div>
                  <%= link_to (u.article.description).first(60) + " ...",article_page_path(link: u.article.link , article_id: u.article.id , source: u.article.name), class: "card-text mb-auto card-text-custom text-dark" %>
                </div>
                  <img class="card-img-right-2 flex-auto d-none d-lg-block" src="<%= u.article.image.presence || 'news_plus.png' %>" alt="Card image cap">
              </div>
            </div>
            <% end %>
          </div>
          <% end %>
          </div>
    </div>

    <div class="col-3" style="margin-left:5%;">
      <h4 style="margin-left:120px;">Bookmarks</h4><br>
      <% @bookmark.in_groups_of(1, false) do |group| %>
      <div class="container">
        <% group.each do |u| %>
        <div class="card bookmark-user" style="width: 15rem;margin-bottom:5%;margin-left:100px;">
          <img class="card-img-top" src="<%= u.article.image %>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= u.article.category %></h5>
            <%= link_to (u.article.description).first(60) + " ...",article_page_path(link: u.article.link , article_id: u.article.id , source: u.article.name), class: "card-text mb-auto card-text-custom text-dark" %>
          </div>
          </div>
          <% end %>
      </div>
      <% end %>

    </div>


  </div>
</div>



