<%  random_number = Random.new
    page = random_number.rand(0..3)
    link = @articles2.find(598).image
    time = @articles2.find(598).created_at
    time_formatted = time.strftime("%B") + " " + time.strftime("%d")
%>

<div class="container editors-choice-general">
  <div class="row mb-2 ">
  <div class="col-md-12 editors-choice">
    <p>Editor's choice</p>
    <div class="card flex-md-row mb-4 box-shadow h-md-250 first-250">
      <div class="card-body d-flex flex-column align-items-start second-flex">
        <strong class="d-inline-block mb-2 text-primary"><%= @articles2.find(598).category %></strong>
        <h3 class="mb-0">
          <%= link_to "Featured post",article_page_path(link: @articles2.find(598).link , article_id: @articles2.find(598).id , source: @articles2.find(598).name), class:"text-dark" %>
        </h3>
        <div class="mb-1 text-muted"><%= time_formatted %></div>
        <%= link_to @articles2.find(598).description,article_page_path(link: @articles2.find(598).link , article_id: @articles2.find(598).id , source: @articles2.find(598).name), class: "card-text mb-auto text-dark" %>
        <%= link_to "Continue reading",article_page_path(link: @articles2.find(598).link , article_id: @articles2.find(598).id , source: @articles2.find(598).name) %>
      </div>
      <img class="card-img-right flex-auto d-none d-lg-block card-img-right-flex" src="<%= link %>" alt="Card image cap">
    </div>
  </div>
</div>
</div>

<div class="container">
  <% @articles.in_groups_of(2, false) do |group| %>
  <div class="row mb-2">
    <% group.each do |u| %>
    <%
        link2 = u.image
        time2 = u.created_at
        time_formatted2 = time2.strftime("%B") + " " + time2.strftime("%d")
    %>
  <div class="col-md-6">
    <div class="card flex-md-row mb-6 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start third-flex">
        <strong class="d-inline-block mb-2 text-primary"><%= u.category %></strong>
        <div class="mb-1 text-muted"><%= time_formatted2 %></div>
        <%= link_to (u.description).first(90) + " ...",article_page_path(link: u.link , article_id: u.id , source: u.name), class: "card-text mb-auto card-text-custom text-dark" %>
      </div>
        <img class="card-img-right-2 flex-auto d-none d-lg-block" src="<%= u.image.presence || 'news_plus.png' %>" alt="Card image cap">
    </div>
  </div>
  <% end %>
</div>
<% end %>
</div>


<div class="container paginator">
  <%= paginate @articles %>
</div>
