<% random_number = Random.new
    page = random_number.rand(0..3)
      link = @articles[2].image
%>
<%= form_tag(search_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search similar topic" %>
<%= submit_tag "Search" %>
<% end %>
 
      <form >
        <input type="radio" name="category" value="general" checked>general<br>
        <input type="radio" name="category" value="business">business<br>
        <input type="radio" name="category" value="health"> health<br>
        <button type="submit">Search</button>
      </form> 

<div class="jumbotron jumbotron-fluid"  style="background-image: url(<%= link %>)">

   <span> <%=@articles[2].description %></span> 
</div>

<div class="container-fluid">
   <% @articles.in_groups_of(2, false) do |group| %>
      <div class="row">
            <% group.each do |u| %>

               <div class="col-md-6 col-sm-12" style="padding: 0;">
                  <%= link_to article_page_path(link: u.link , article_id: u.id , source: u.name) do %>
                  
            
                     <div class="article-bg" style="background-image: url(<%= u.image.presence || '/news_plus.png' %>)">
                        <span><%= u.description %></span>
                     </div>
                  <% end %>
               </div>
         <% end %>
      </div>
   <% end %>
</div>
