<form >
  <input type="radio" name="category" value="general" checked>general<br>
  <input type="radio" name="category" value="business">business<br>
  <input type="radio" name="category" value="science">science<br>
  <input type="radio" name="category" value="technology">technology<br>
  <input type="radio" name="category" value="entertainment">entertainment<br>
  <input type="radio" name="category" value="health">health<br>
  <button type="submit">Search</button>
</form> 

<%= form_tag(admin_index_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search similar topic" %>
<%= submit_tag "Search" %>
<% end %>

<%= button_to "Users page", user_path(id: current_user.id), method: :get %> 


<% @articles.each do |article| %>
    <%= article.name %></br>
    <%= article.description %></br>

     <%= link_to article_page_path(link: article.link)%>

<% end %>

