<section class="intro">
    <row>

      <div class="col-lg-6 col-sm-12 left">
      </div>
      <div class="col-lg-6 col-sm-12 right login">
        <div id="clearance" class="password-reset">
          <h2><%= t(".title") %></h2>

          <p><%= t(".description") %></p>

          <%= form_for :password, url: passwords_path do |form| %>
            <div class="text-field">
              <%= form.label :email %>
              <%= form.text_field :email, type: 'email', placeholder: "email" %>
            </div>

            <div class="submit-field">
              <%= form.submit "Reset password", class: "btn btn-dark"  %>
            </div>

            <div class="other-links">
            <%= link_to t(".sign_in"), sign_in_path %>
            <% if Clearance.configuration.allow_sign_up? %>
              <%= link_to t(".sign_up"), sign_up_path %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </row>
</section>
