<% @index.each do |u| %>
	
		<%= u.name %></br>

		<%= u.description :description %></br>
		<% if u.urlToImage.present? %>
			<%= image_tag u.urlToImage %></br>
		<% else %>
		<%end%>
		
		<%= link = u.url %></br>	
		<%= link_to '<button type="button">Read the article</button>'.html_safe, show_path(link: u.url ,image: u.urlToImage) %></br>

		<%= f.submit %>

<% end %>